*{
    background-color: black;
align-items: center;
display:inline-flexbox;
align-content: center;
}
button{
    background-color: cadetblue;
     padding:20px;

     align-items: center;
}
h1{
    text-align: center;
    color: rgb(204, 204, 108);
    
}
h2{ text-align: center;
    color:royalblue;}
